<div class="row g-4">
    <div class="col-md-6">
        {{ form_row(form.name) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.type) }}
    </div>
    <div class="col-12">
        {{ form_row(form.description) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.localisation) }}
    </div>
    <div class="col-md-3">
        {{ form_row(form.prix) }}
    </div>
    <div class="col-md-3">
        {{ form_row(form.status) }}
    </div>
    <div class="col-12 text-center mt-4">
        <button class="gv-form-submit">
            <span class="material-symbols-outlined" style="font-size:1.1rem;">check_circle</span>
            {{ button_label|default('Enregistrer l\'activité') }}
        </button>
    </div>
</div>
